'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'URL Encode'
      'submenu': [
        { 'label': 'Encode', 'command': 'url-encode:encode' },
        { 'label': 'Decode', 'command': 'url-encode:decode' }
      ]
    ]
  }
]
